<div class="card-deck">
  <div *ngFor="let event of events" class="card" style="width: 18rem">
    <img [src]="event.image?.path" class="card-img-top" />

    <div class="card-body">
      <h5 class="card-title">Titre : {{ event.titre }}</h5>
      <p class="card-text">Description : {{ event.description }}</p>
      <p class="card-text">
        <small class="text-muted"> Date : {{ event.date }}</small>
      </p>
      <p class="card-text">
        <small class="text-muted">Lieu : {{ event.lieu }}</small>
      </p>
      <p class="card-text">
        <small class="text-muted"> Capacite : {{ event.capacite }}</small>
      </p>
      <p class="card-text">
        <small class="text-muted">Price : {{ event.price }}</small>
      </p>
      <p class="card-text">
        <small class="text-muted">Category : {{ event.category }}</small>
      </p>
    </div>
  </div>
</div>

<!-- 
<div class="container">
  <table class="table">
    <thead>
      <h3>liste evenement</h3>
      <tr>
        <th scope="col">#</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Handle</th>
      </tr>
    </thead>
    <tbody class="table-group-divider">
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>mdo</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>fat</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td colspan="2">Larry the Bird</td>
        <td>twitter</td>
      </tr>
    </tbody>
  </table>
</div> -->
