<div class="container">
  <div class="title">réserver</div>
  <div class="content">
    <form action="#">
      <div class="user-details">
        <div class="input-box">
          <span class="details">nom</span>
          <input type="text" placeholder=" nom " required />
        </div>
        <div class="input-box">
          <span class="details">prenom</span>
          <input type="text" placeholder="prenom" required />
        </div>
        <div class="input-box">
          <span class="details">email</span>
          <input type="email" placeholder="email" required />
        </div>
        <div class="input-box">
          <span class="details"> nombre de places</span>
          <input type="number" placeholder="le  nombre de places" required />
        </div>
      </div>

      <!-- Submit button -->
      <div class="button">
        <input type="submit" value="réserver" />
      </div>
    </form>
  </div>
  <!-- </div> -->
</div>
