<div class="container">
  <!-- Title section -->
  <div class="title">créer événement</div>
  <div class="content">
    <!-- Registration form -->
    <form action="#">
      <div class="user-details">
        <!-- Input for Full Name -->
        <div class="input-box">
          <span class="details">Titre de l'événement</span>
          <input
            type="text"
            placeholder=" Le nom de l'événement"
            formControlName="titre"
            required
          />
        </div>
        <!-- Input for Username -->
        <div class="input-box">
          <span class="details">Description</span>
          <input
            formControlName="description"
            type="text"
            placeholder=" Une description complète de l'événement"
            required
          />
        </div>
        <!-- Input for Email -->
        <div class="input-box">
          <span class="details">Date et heure</span>
          <input
            type="text"
            formControlName="date"
            placeholder="Sélection de date et heure"
            required
          />
        </div>
        <!-- Input for Phone Number -->
        <div class="input-box">
          <span class="details">Lieu</span>
          <input
            type="text"
            formControlName="lieu"
            placeholder="L'endroit où se tiendra l'événement"
            required
          />
        </div>
        <!-- Input for Password -->
        <div class="input-box">
          <span class="details">Capacité maximale</span>
          <input
            formControlName="capacite"
            type="number"
            placeholder="Nombre total de participants autorisés"
            required
          />
        </div>
        <!-- Input for Confirm Password -->
        <div class="input-box">
          <span class="details">Prix d'entrée</span>
          <input
            type="text"
            formControlName="price"
            placeholder="le prix du billet"
            required
          />
        </div>
        <div class="input-box">
          <span class="details">Image de l'événement </span>
          <input
            formControlName="image"
            type="file"
            id="imageUpload"
            name="image"
            accept=" .jpg, .jpeg, .pjpeg, .pjp, .png, "
          />
          <!-- <input type="submit" value="Upload" /> -->
          <!-- <input
              type="file"
              accept=".gif, .jpg, .jpeg, .jfif, .pjpeg, .pjp, .png, .svg"
              placeholder="image"
              required
            /> -->
        </div>
        <!-- Input for Confirm Password -->
        <div class="input-box">
          <span class="details">Catégorie</span>
          <input
            formControlName="category"
            type="text"
            placeholder="musique, conférence, sport, etc"
            required
          />
        </div>
      </div>

      <div class="gender-details">
        <!-- Radio buttons for gender selection -->
        <input
          type="radio"
          formControlName="visibility"
          name="Visibilité publique ou privée"
          id="dot-1"
        />

        <span class="gender-title">Visibilité publique ou privée</span>
        <div class="category">
          <!-- Label for Male -->
          <label for="dot-1">
            <span class="dot one"></span>
            <span class="gender"
              >Sélection pour indiquer si l'événement est ouvert à tous ou
              restreint à un certain groupe.</span
            >
          </label>
        </div>
      </div>
      <!-- Submit button -->
      <div class="button">
        <input type="submit" value="Créer l'événement" />
      </div>
    </form>
  </div>
</div>
